.detail {
  position: relative;
}
.detail-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.detail-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.detail__container {
  padding: 140px 0 132px;
}
.detail__btn-text {
  color: rgb(35, 38, 47);
  font-size: 31.06px;
  font-weight: 600;
  line-height: 27.61px;
  letter-spacing: 0%;
}
.detail__btn-content {
  display: flex;
  gap: 34px;
  align-items: center;
}
.detail__link {
  border-radius: 32px;
  background: rgb(230, 232, 236);
  border: 0;
  width: 36px;
  height: 36px;
  background-image: url(../img/icon.svg);
  background-position: center;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}
.detail__link:focus {
  outline: none;
}
.detail__link:hover {
  color: #ffffff;
}
.detail__link:active {
  color: #ffffff;
  outline: 1px solid #000000;
}
.detail__link:focus-visible {
  outline-offset: 7px;
  outline: 1.5px solid #acadb9;
  border-radius: 6px;
}
.detail__card {
  margin-top: 60px;
  border-radius: 24.42px;
  box-shadow: 17.56px 17.56px 61.06px 0px rgba(0, 0, 0, 0.12);
  background-color: rgb(250, 250, 250);
  padding: 37px 46px 43px 36px;
  display: flex;
  gap: 136px;
}
.detail__box {
  position: relative;
}
.detail__title {
  color: rgb(41, 43, 57);
  font-size: 51.04px;
  font-weight: 600;
  line-height: 31.82px;
  letter-spacing: 0%;
  margin-bottom: 30px;
}
.detail__option {
  text-align: center;
}
.detail__descr {
  color: rgba(136, 136, 136, 0.7);
  font-size: 19px;
  font-weight: 400;
  line-height: 29.14px;
  letter-spacing: 0%;
  margin-bottom: 70px;
  max-width: 400px;
}
.detail__aftors {
  display: flex;
  gap: 80px;
  margin-bottom: 63px;
}
.detail__aftor {
  display: flex;
  align-items: center;
  gap: 17px;
}
.detail__aftor-info {
  row-gap: 7px;
}
.detail__purpose {
  color: rgb(141, 141, 141);
  font-size: 17.68px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
}
.detail__aftor-name {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 25.57px;
  font-weight: 500;
  line-height: 39.2px;
  letter-spacing: 0%;
}
.detail__card-descr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}
.detail__decsr-block {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.detail__price {
  font-family: Poppins;
  font-size: 32.99px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
  padding-left: 23px;
  background-image: url(../img/weekly-card-price.svg);
  background-repeat: no-repeat;
  background-position: center left;
}
.detail__date {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 19.23px;
  font-weight: 400;
  line-height: 30.23px;
  letter-spacing: 0%;
}
.detail__btn {
  border-radius: 19.62px;
  background: rgb(20, 20, 22);
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 18.39px;
  font-weight: 700;
  line-height: 28.21px;
  letter-spacing: 0%;
  width: 100%;
  border: 0;
  padding: 25px 0;
  background-image: url(../img/Vector\ \(9\).svg);
  background-repeat: no-repeat;
  background-position: 150px center;
  transition: color 0.2s ease-in-out;
}
.detail__btn:focus {
  outline: none;
}
.detail__btn:hover {
  color: #9c9c9c;
}
.detail__btn:active {
  color: #9c9c9c;
  background-color: #ffffff;
  outline: 1px solid #000000;
}
.detail__btn:focus-visible {
  outline-offset: 7px;
  outline: 1.5px solid #acadb9;
  border-radius: 6px;
}
.detail-modals {
  position: absolute;
  top: 503px;
  left: 705px;
  padding: 44px 18px 40px;
  border: 2.12px solid rgb(0, 0, 0);
  border-radius: 21.2px;
  background-color: rgb(255, 255, 255);
  display: none;
}
.detail-modals--visible {
  display: block;
}
.detail-modals__title {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 20.26px;
  font-weight: 600;
  line-height: 29.26px;
  letter-spacing: 0%;
  margin-bottom: 3px;
}
.detail-modals__data {
  color: rgb(136, 136, 136);
  font-family: Poppins;
  font-size: 14.63px;
  font-weight: 400;
  line-height: 18.01px;
  letter-spacing: 0%;
  margin-bottom: 18px;
}
.detail-modals__card {
  margin: 18px 0 45px;
  padding: 18px 33px 26px 18px;
  display: flex;
  align-items: center;
  border-radius: 11.25px;
  box-shadow: -5.85px 11.7px 20.26px 0px rgba(16, 16, 16, 0.15);
  background: rgb(255, 255, 255);
}
.detail-modals__card--chart {
  max-height: 75px;
}
.detail-modals__user-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 0 50px 0 18px;
}
.detail-modals__usernmae {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16.88px;
  font-weight: 500;
  line-height: 25.88px;
  letter-spacing: 0%;
}
.detail-modals__userdate {
  color: rgb(156, 156, 156);
  font-family: Poppins;
  font-size: 14.63px;
  font-weight: 400;
  line-height: 18.01px;
  letter-spacing: 0%;
}
.detail-modals__price {
  color: var(--dark-color);
  font-family: Poppins;
  font-size: 16.47px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
  padding-left: 23px;
  background-image: url(../img/weekly-card-price.svg);
  background-repeat: no-repeat;
  background-position: center left;
}
.detail-modals__bottom {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.detail-modals__text {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 29.26px;
  letter-spacing: 0%;
}
.detail-modals__btn {
  border-radius: 19.62px;
  background: rgb(20, 20, 22);
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 18.39px;
  font-weight: 700;
  line-height: 28.21px;
  letter-spacing: 0%;
  width: 100%;
  border: 0;
  padding: 22px 0 22px 30px;
  background-image: url(../img/Vector\ \(9\).svg);
  background-repeat: no-repeat;
  background-position: 140px center;
  transition: color 0.2s ease-in-out;
}
.detail-modals__btn:focus {
  outline: none;
}
.detail-modals__btn:hover {
  color: #9c9c9c;
}
.detail-modals__btn:active {
  color: #9c9c9c;
  background-color: #ffffff;
  outline: 1px solid #000000;
}
.detail-modals__btn:focus-visible {
  outline-offset: 7px;
  outline: 1.5px solid #acadb9;
  border-radius: 6px;
}
.detail-slow {
  -webkit-backdrop-filter: blur(30.18px);
          backdrop-filter: blur(30.18px);
  background-color: rgba(239, 239, 239, 0.25);
}
.detail-chart {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  border: 1.14px solid rgb(237, 242, 247);
  border-radius: 18.28px;
  box-shadow: 20.06px 20.06px 69.75px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
  padding: 27px 50px 30px 30px;
  max-width: 846px;
}
.detail-chart__title {
  color: rgb(26, 32, 44);
  font-family: Poppins;
  font-size: 20.56px;
  font-weight: 600;
  line-height: 135%;
  letter-spacing: 0.23px;
}
.detail-chart__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
}
.detail-chart__descr {
  color: rgb(26, 32, 44);
  font-family: Poppins;
  font-size: 13.71px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.46px;
  margin-right: 15px;
  padding-left: 19px;
  background-image: url(../img/Rectangle\ 1.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.detail-chart__block {
  display: flex;
  align-items: center;
  -moz-column-gap: 45px;
       column-gap: 45px;
  margin-bottom: 20px;
}
.detail-chart__box {
  margin-top: 100px;
  display: flex;
  gap: 54px;
}
.detail-chart__select {
  color: rgb(26, 32, 44);
  font-family: Poppins;
  font-size: 13.71px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.46px;
  border-radius: 9.14px;
  background: rgb(250, 250, 250);
  border: 0;
  padding: 7px 4px;
}
.detail-chart__list {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
}
.detail-chart__list--bottom {
  flex-direction: row;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-left: 30px;
}
.detail-chart__item {
  color: rgb(20, 20, 22);
  font-family: Poppins;
  font-size: 17.01px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
.detail-chart__item--bottom {
  padding: 10px 8px;
  color: rgb(150, 150, 151);
}
.detail-chart__select {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 15.24px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  border-radius: 9.14px;
  background: rgb(250, 250, 250);
}
.detail-chart__wrapper {
  min-width: 297px;
  border-radius: 11.53px;
  background: rgb(0, 0, 0);
  position: relative;
  display: flex;
}
.detail-chart__wrapper::before {
  position: absolute;
  content: url(../img/make-ar.svg);
  top: 46%;
  left: 63px;
  transform: translateY(-46%);
}
.detail-chart__input {
  background-color: rgb(255, 255, 255);
  border: 2px solid #000000;
  padding: 23px 20px 23px 26px;
  background-image: url(../img/Mask\ Group.svg);
  background-repeat: no-repeat;
  background-position: 661px center;
  transition: color 0.2s ease-in-out;
  min-width: 226px;
  border-radius: 0 13px 13px 0;
}
.detail-chart__currency {
  padding: 21px 46px 21px 27px;
  border-radius: 11px 0 0 11px;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 13.45px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -2%;
}
.detail-card {
  border-radius: 15.95px;
  box-shadow: 16.8px 16.8px 58.41px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
  padding: 36px 28px;
}

.modail-active {
  display: flex;
}

.select,
.label {
  display: block;
  border-radius: 10px;
  color: #000000;
  font-family: Poppins;
  font-size: 18.39px;
  font-weight: 700;
  line-height: 28.21px;
  letter-spacing: 0%;
}

.select {
  position: absolute;
  top: 0;
  width: 160px;
  height: 52px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}

.select-box1 {
  padding: 22px 0 22px 30px;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.label {
  position: relative;
  padding: 10px 10px;
  cursor: pointer;
}

.open .label::before {
  content: "";
}

.label::before {
  content: "";
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 25px 79px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px 0 0 8px;
}

.label-desc {
  color: rgb(255, 255, 255);
  font-size: 20.26px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  position: relative;
}

.detail-card__username {
  font-size: 12px;
}
.detail-card__userdate {
  font-size: 11px;
}
.detail-card__user-info {
  margin: 0 34px 0 10px;
}
.detail-card__content--first {
  margin: 8px 0 18px;
}
.detail-card__content--second {
  margin: 0 0 37px;
}
.detail-card__option {
  padding-top: 10px;
  color: #000000;
}

.detail-card .detail-modals__card:last-child {
  margin: 0 0 37px;
}/*# sourceMappingURL=detail.css.map */